<!DOCTYPE html>
<html>
<head>
    <Title>Home</Title>
    <h1>Upload Resume and Paste Job Description</h1>
</head>
<body>
    <h1>Upload Resume</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="resume">Upload Resume:</label>
        <input type="file" id="resume" name="resume" accept=".pdf">
        <label for="job">Paste Job Description:</label>
        <input type="text" id="job" name="job">
        <input type="submit" value="Upload">
    </form>
</body>
</html>